h1 {
    color:red;
}

#title {
   color: white;
    text-align: center;

}
h1.jumbotron-heading{
    padding-top: 20px;
}
table{
    border-collapse: collapse;
    position: absolute;
    margin-left:5px;
}
th{
    padding-bottom: 5px;
}


.form{
    width: 100px;
}

