h1 {
    color:red;
}

#title {
   color: white;
    text-align: center;

}
h1.jumbotron-heading{
    padding-top: 20px;
}

table {
    position: fixed;
    /*width:30%;*/
    border-collapse: collapse;
}