welcome{
    text-align: center;
}


#title {
   color: white;
    text-align: center;

}

.table{
    border-bottom: none;

}

.form{
    width: 100px;
}

.navigation{
    height: 100%;
}

.col-md-2 {
    height: 100%;
}