{%  load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


 <div class="jumbotron">
  <h1 class="display-4">Share your travels!</h1>
  <p class="lead">This is a website to share your travel experiences.</p>

</div>

    {% block head %}
{%  endblock %}
</head>



<body>


{% block body %}
{%  endblock %}

</body>



</html>