{%  load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">


    <title>Share Your Travels</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">


    {% block head %}
    {%  endblock %}
</head>

<body>
{% comment %}<div class="page">{% endcomment %}
<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">


            <strong id="title">Share Your Travels</strong>

        </div>
    </div>
</header>



<div class="container">
    <div class="welcome" style="text-align: center">
        <h1 style="margin-top: 5px">Welcome to share your travels</h1>
        <p>On this page you can find pictures from different sides of the world.
            These are all pcitures of people's experiences.
            We want to give you the opportunity to share your exeriences with friends!</p>
        <p>
            <a href="index" target="_blank" class="btn btn-primary my-2">Back to main page</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <table class="table">
            <tr><th>Countries A-Z</th></tr>
            <tr><td><a href="Country_View?parameter={{ 'Germany' }}">Germany </a> </td></tr>
            <tr><td><a href="Country_View?parameter={{ 'Australia' }}">Australia</a></td></tr>
            <tr><td><a href="Country_View?parameter={{ 'Austria' }}">Austria</a></td></tr>
            <tr><td><a href="Country_View?parameter={{ 'Brazil' }}">Brazil</a></td></tr>
            <tr><td><a href="Country_View?parameter={{ 'Egypt' }}">Egypt</a></td></tr>
            <tr><td><a href="Country_View?parameter={{ 'England' }}">England</a></td></tr>
            <tr><td><a href="Country_View?parameter={{ 'Japan' }}">Japan</a></td></tr>
            <tr><td><a href="Country_View?parameter={{ 'Kongo' }}">Kongo</a></td></tr>
            <tr><td><a href="Country_View?parameter={{ 'Mexico' }}">Mexico</a></td></tr>
            <tr><td><a href="Country_View?parameter={{ 'Morocco' }}">Morocco</a></td></tr>
            <tr><td><a href="Country_View?parameter={{ 'Nepal' }}">Nepal</a></td></tr>
            <tr><td><a href="Country_View?parameter={{ 'Peru' }}">Peru</a></td></tr>
            <tr><td><a href="Country_View?parameter={{ 'South Africa' }}">South Africa</a></td></tr>
            <tr><td><a href="Country_View?parameter={{ 'Switzerland' }}">Switzerland</a></td></tr>
            <tr><td><a href="Country_View?parameter={{ 'Thailand' }}">Thailand</a></td></tr>
            <tr><td><a href="Country_View?parameter={{ 'USA' }}">USA</a></td></tr>
        </table>
    </div>








<body>


 <div class="col-md-10">
    <div class="container">
        <h1>Upload Your Picture</h1>




        <form method="post" enctype="multipart/form-data">

            {% comment %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="name" class="form-control" id="name" placeholder="Enter name">
             </div>
             <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                 <input type="description" class="form-control" id="description" placeholder="Description">
             </div>
            {%endcomment%}

            {%  csrf_token %}
            {{ form.as_p }}
                <button type="submit" class="btn btn-primary my-2">Submit</button>
        </form>

    </div>
    </div>
 </div>
</div>
</body>





</html>